<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        Who gets skihlz™?
      </h3>
      <p>
        WHOmentors.com, Inc. pledges to support and develop teen amateur athletes for national or international competition in sports such as the <a href="http://icg-lakemacquarie2014.com">International Children's Games</a> or the <a href="http://www.nanjing2014.org">Youth Olympic Games</a></a>.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        Why free skihlz™?
      </h3>
      <p>
        The shoe distribution program (<a href="http://nccsweb.urban.org/PubApps/nteeSearch.php?returnElement=&popup=0&gQry=P58&codeType=NTEE">NTEE-CC P58</a>) operated by WHOmentors.com, Inc. is designed to prevent juvenile delinquency (youth violence and crime) and lessen neighborhood tensions (community riots) associated with <a href="https://www.youtube.com/watch?v=NeA0-SXarg0">sneaker obsession</a>.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <p>
        <blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/RauhmelFoxCEO">@RauhmelFoxCEO</a> I just gave some shoes.  What a great idea for those kids you have!</p>&mdash; Erin Burnett (@ErinBurnett) <a href="https://twitter.com/ErinBurnett/statuses/210759843051618305">June 7, 2012</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> 
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        Why skihlz™?
      </h3>
      <p>
        Remind girls and boys they are equipotent! Rauhmel Fox relays a solid message, "skihlz™, knowledge, and effort are three distinct elements of individual performance. Combined together, they create an enormously potent compound, you!"
      <p>
    </div>
  </div>
</div>
