<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4>No Hand-Me-Downs!</h4>
      <p>The California Podiatric Medical Association <a href="http://www.calpma.org/visitors/foothealth/sports/contact">recommends</a> footwear for young athletes should be <u>supple</u> (no hand-me-downs, please)!</p>
    </li>
    <li id="section-2">
      <h4>Show Off Your skihlz™</h4>
      <p>Create a humorous 30-second parody video creatively mentioning the word skihlz™! You could be shown in a public relations campaign! <a href="mailto:srpgcvzepvce@m.youtube.com">Email video now!</a></p>
    </li>
    <li id="section-3">
      <h4>Search for Cinderella!</h4>
      <p>Women who can comfortably wear EUR 36-40 (sample size) footwear and advance their own personal funds to WHOmentors.com, Inc. for the operation of the skihlz™ shoe distribution program qualify as shoe buyers for <a href="https://www.youtube.com/watch?v=WL2XvPJRmjo">WSA at MAGIC</a>.</p>
    </li>
    <li id="section-4">
      <h4>What is a skihlz™ Brand Ambassador?</h4>
      <p>Gain national or international media exposure for your educational and charitable activities affiliated with WHOmentors.com, Inc. and elevate awareness about topics that really interest you! Example: <a href="https://www.youtube.com/watch?v=X1vqVmEITG4">Meet Minji Cho!</p>
    </li>
  </ul>
</div>
