<p class="center">Derivative © <a href="http://WHOmentors.com">WHOmentors.com</a>, Inc. Authority: <a href="http://WHOmentors.com/pdf/exempt.pdf">26 CFR §1.501(c)(3)-1</a> and <a href="http://www.gpo.gov/fdsys/pkg/USCODE-2011-title26/html/USCODE-2011-title26-subtitleA-chap1-subchapF-partI-sec501.htm">26 U.S.C. §501(j)(2).</a></p>
