<div class="footer">
  <div class="wrapper clearfix">
    <ul>
      <li>
        <a href="http://WHOmentors.com">501(c)(3) Fiscal Sponsor</a>
      </li>
      <li>
        <a href="http://twitter.com/skihlz">Follow Us!</a>
      </li>
      <li>
        <a href="http://fb.com/skihlz">Like Us!</a>
      </li>
      <li>
        <a href="#">Collections Agreement</a>
      </li>
      <li>
          <a href="/account/login">Login</a>
      </li>
    </ul>
    <p>Derivative © WHOmentors.com, Inc. All Rights Reserved. Tech Startup Area, California.</p>
  </div>
</div>
